/.venv
/yuki/.data
/yuki/.vector_cache
/.vscode
venv
/hs&yh/.data
/hs&yh/.vector_cache
nlp_project_2_test.ipynb
/.data
/.vector_cache
/ruochee/.data
/ruochee/.vector_cache
/ruochee/bigru_model.weights.h5
/ruochee/bigru_adv_model.weights.h5
/ruochee/bigru_adv_model_v2.weights.h5
/ruochee/bilstm_model.weights.h5
/ruochee/bilstm_adv_model.weights.h5
/ruochee/bilstm_adv_model_v2.weights.h5